@import "./Components/Login/Login.css";

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

footer {
  align-items: end;
  justify-content: center;
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
}